<body class="container-fluid margin padding" style="background-image: linear-gradient(to bottom, black, rgb(63, 0, 49));">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="padding-bottom: 5%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.notinoimg.com/images/gallery/ba/8/N_TopBanner_Chanel_1D.jpg" class="d-block w-100" style="height: 500px;"alt="1">
        <div class="carousel-caption d-none d-md-block">
          </div>      </div>
      <div class="carousel-item">
        <img src="https://www.chanel.com/us/img/t_one/q_auto:good,fl_lossy,dpr_1.2,f_auto/w_1920/prd-emea/sys-master/content/P1/ha8/h24/10191925182494-Desktop_ONE_HP-CORPO_Sliding-Hero_2880x1260px.jpg" class="d-block w-100" style="height: 500px;"alt="2">
        <div class="carousel-caption d-none d-md-block">
          </div>      </div>
      <div class="carousel-item">
        <img src="https://www.chanel.com/us/img/t_one/q_auto:good,fl_lossy,dpr_1.2,f_auto/w_1920/prd-emea/sys-master/content/P1/h1f/hbe/10179393486878-ONE_HPCorpo_D_SlidingHero_2880x1260px(2).jpg" class="d-block w-100" style="height: 500px;" alt="3">
        <div class="carousel-caption d-none d-md-block">
          </div>      </div>
          
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="center-align">
    <h2 style="font-size: 30px;" >
        Fragrance Symphony: Unveiling the Art of Scented Poetry
    </h2>
    <h2 style="padding-left:25% ;">Immerse yourself in the captivating world of fragrances, where scents become invisible poetry that dances on your skin. 
        Perfumes are more than just a delightful blend of notes; they are olfactory symphonies that evoke emotions, memories, and desires.
    Each fragrance tells a unique story, crafted by master perfumers who meticulously combine precious ingredients from around the world. 
    From the delicate petals of blooming flowers to the warm embrace of exotic spices, every element is carefully chosen to create a sensory masterpiece.
    </h2>
  </div>

  <div class="center-align" style="width: 100%; ">
    <h2 >
      Each perfume has its own personality, inviting you to embark on a sensory journey. 
      Whether you seek an enchanting fragrance for a special occasion or a signature scent that becomes an extension of your identity,
       there is a perfume waiting to be discovered.
      Experience the artistry of perfumery, where invisible essences evoke emotions and awaken the senses. Let the fragrances transport 
      you to distant lands, evoke cherished memories, and express your unique style. 
      Discover the power of scent and unlock the magic that lies within each bottle of perfume.
    </h2>
    <h2 style="padding-left:25%; font-size: 30px;">Scented Journeys: Unleashing the Magic of Perfume</h2>
  </div>

</body>