<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: black;" >
      <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px; color: white; ">
              <svg xmlns="http://www.w3.org/2000/svg" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </a>
            <ul class="dropdown-menu" style="background-color: black;">
              <li><a class="dropdown-item"routerLink="women" style="color: white;">Women's Perfumes</a></li>
              <li><a class="dropdown-item"routerLink="men"   style="color: white;">Men's Perfumes</a></li>
              <li><a class="dropdown-item"routerLink="room"  style="color: white;">Home fragrances</a></li>
              <li><a class="dropdown-item" routerLink="about" style="color:white;">About</a></li>
            </ul>
          </li> 
        </ul>
        <div class="nav-item me-auto" >
            <a class="navbar-brand text mc-auto" routerLink="home" > Intense Velvet Memories</a>
        </div>
        
            <a class="nav-item" style="margin-right: 1%;">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" fill="currentColor" class="bi bi-bag-heart-fill fill_color" viewBox="0 0 16 16" routerLink="shopping_cart">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg>
            </a>
            
      </div>
    </div>
   
  </nav>
