<nav class="navbar navbar-expand-lg bg-body-tertiary fixed footer"style="font-size: 400%;">
    <div class="container-fluid" style="background-color:black;">
      <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item text " >
                <a class="navbar-brand" routerLink="home" style="color: white;" > Intense Velvet Memories</a>
            </div>
        </ul>
        <div class="nav-item ms-auto inline">
            <svg xmlns="http://www.w3.org/2000/svg" height="26" fill="currentColor" class="bi bi-telephone-fill fill_color" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
            </div>
            <div class="phone">0740839112 </div>
            <a class="nav-item icon" href="mailto:munteaniulia9@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" height="26" fill="currentColor" class="bi bi-envelope-fill fill_color" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                </svg>
            </a>
            <a href="mailto:munteaniulia9@gmail.com"class="phone">munteaniulia9@gmail.com</a>
      </div>
    </div>
   
  </nav>
